@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

.viewer {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-delay: 2s;
}
/*
.pain {
	position: absolute;
	top: 75%;
	left: 1%;
	width: 132px;
	height: 132px;
}

.name {
	position: absolute;
	top: 76%;
	left: 13%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}

.subname {
	position: absolute;
	top: 81%;
	left: 16%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
	font-size: 18px;
}
*/

.bonk {
	opacity: 0;
	position: absolute;
	left: 8%;
	top: 77%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	width: 20%;
	height: 20%;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: both;
}

.pain {
	width: 80px;
	height: 80px;
}

.name {
	position: relative;
	left: 35%;
	bottom: 56%;
}

.subname {
	position: relative;
	left: 35%;
	bottom: 68%;
	font-size: 16px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
	font-size: 28px;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.center p {
	text-align: center;
}
